.btn-close {
  float: right;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
  padding: 54px 0;
  box-sizing: border-box;
}

.btn-translate {
  margin-bottom: 18px;
}

.area {
  width: 640px;
  padding: 0;

  &-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 6px;
  }

   &__textarea {
    min-height: 180px;
    padding: 10px 20px;
    box-sizing: border-box;
  }
}

.btn-history {
  margin-top: 24px;
  font-size: 24px;
  line-height: 2;
  opacity: 0.7;
}

:host ::ng-deep {
  .mat-form-field-infix {
    padding-top: 0;
    border-top: none;
  }
}
